/*          
		  .o88
          "888
 .oooo.    888  .oo.    ..o88.     ooo. .oo.    .oooo`88
d88' `8b   88bP"Y88b   888P"Y88b  "888P"Y88b   888' `88b 
888        88b   888   888   888   888   888   888   888
888. .88   888   888   888   888   888   888   888. .880
 8`bo8P'  o888o o888o   8`bod8P'  o888o o888o   .oooo88o
 												     088`
 											        .o88

*/

body{background-color:#fefefe;color:#262626;overflow-y:hidden}
h1, h2, h3, h4, h5, h6{font-weight:bold}
h1, h2, h3, h4, h5, h6, p, body{font-size:14px}
h1{font-size:22px}
h2{font-size:20px}
h3{font-size:18px}
table{width:100%;}

/**/
/* btn */
/**/
.btn{
	-webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
	position: relative;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
}
.btn:hover, .btn:focus {
	text-decoration: none;
	-webkit-transition: all 0.0s;
	-moz-transition: all 0.0s;
	-ms-transition: all 0.0s;
	-o-transition: all 0.0s;
	transition: all 0.0s;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}
.btn:active {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}

.btn-blue, .btn-primary{
	text-shadow: 0 1px rgba(0,0,0,0.1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
}
.btn-blue:hover,.btn-blue:focus,.btn-primary:hover,.btn-primary:focus {
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8)
}
.btn-blue:active, .btn-primary:active {
	background-color: #357ae8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
	-webkit-box-shadow: inset 0 1px 2px rgb a(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
}

.btn-red {
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #d14836;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
	background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
	background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
	background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
	background-image: -o-linear-gradient(top, #dd4b39, #d14836);
	background-image: linear-gradient(top, #dd4b39, #d14836)
}
.btn-red:hover,.btn-red:focus {
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #c53727;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#c53727));
	background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
	background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
	background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
	background-image: -o-linear-gradient(top, #dd4b39, #c53727);
	background-image: linear-gradient(top, #dd4b39, #c53727);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2)
}
.btn-red:active, .btn-red.active {
	background-color: #b0281a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#b0281a));
	background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
	background-image: -moz-linear-gradient(top, #dd4b39, #b0281a);
	background-image: -ms-linear-gradient(top, #dd4b39, #b0281a);
	background-image: -o-linear-gradient(top, #dd4b39, #b0281a);
	background-image: linear-gradient(top, #dd4b39, #b0281a);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.btn:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	border: 1px solid rgba(0,0,0,.1);
}
.btn:hover:before{
	border-color: rgba(0,0,0,.2);
}

/**/
/* gbtn */
/**/
.gbtn {
    display: inline-block;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background-color: #ecebec;
    padding: 3px;
    border-radius: 20px;
}
.gbtn .btn, .gbtn .btn:before{
    border-radius: 15px;
}
.gbtn .btn-large, .gbtn .btn-large:before{
    border-radius: 18px;
}


.gbtn.radius .btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    display: block;
}
.gbtn.radius {
    width: 58px;
    height: 58px;
    padding: 4px;
}
.gbtn.radius, .gbtn.radius .btn, .gbtn.radius .btn:before {
    border-radius: 50%;
}
.gbtn.radius.large {
    width: 80px;
    height: 80px;
    padding: 5px;
}
.gbtn.radius.large .btn {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.gbtn.radius.jumbo{
	width: 100px;
    height: 100px;
    padding: 5px;
}
.gbtn.radius.jumbo .btn{
	width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 25px
}
a.btn-edit:hover{
    text-decoration: none;
}
a.btn-edit:hover span{
    text-decoration: underline;
}


/* form */
.form-editor .inputtext{border-width:0 0 1px;background-color:transparent;box-shadow:none}
.form-editor .form-actions{margin-top:20px}
.form-field{padding-bottom:15px;position:relative}
.form-field .control-group{margin-bottom:0}
.form-field .control-group + .control-group{margin-top:15px}
.form-field .control-group .controls{position:relative;width: 297px;}
.form-field .controls-actions{position:absolute;bottom:100%;right:0;margin-bottom:-1px}
.form-field .controls-actions a{font-size:14px;display:inline-block;color:#999;min-width:17px;height:17px;text-align:center}
.form-field .controls-actions a + a{margin-left:5px}
.form-field .controls-actions a:hover{text-decoration:none;background-color:#b9b9b9;color:#222}
.form-field .controls-actions a.remove:hover{background-color:#d80000;color:#fff}
.form-field .controls-actions a span{display:none}
.form-field .controls-actions a i + span{margin-left:4px}
.form-field .controls-actions a:hover span{text-decoration:underline}
.form-insert .form-field .control-group .controls{width:100%}


.form-profile #image_fieldset, .form-profile #level_fieldset{
    float: left;
    margin-right: 10px
}
.form-profile #level_fieldset{
    width: 100px
}
.form-profile #level_fieldset .inputtext{
    width: 100%
}
.form-profile #name_fieldset{
    clear: both;
}
.form-profile .inputtext{
    background-color: #fff
}

.control-group select.labelselect {
    border-width: 0;
    width: auto;
    padding: 0;
    font-size: 13px;
    color: #999;
    display: inline-block;
    background-color: transparent;
    padding-left: 0;
        height: 20px;
    line-height: 20px;
}

/*.table-address-wrap{background-color:#fff;border:1px solid #d9d9d9;border-top:1px solid #c0c0c0;padding:2px}*/
.table-address .label{white-space:nowrap;padding-right:4px;padding-left:4px}
.table-address tr td:first-child .label{padding-left:0}
.table-address .inputtext{border-width:0 0 1px;box-shadow:none;background-color:transparent;width:100%}

.u-table-birthday .u-table{width:auto}
.u-table-fullname .u-table-cell, .u-table-birthday .u-table-cell{padding-left:5px}
.u-table-fullname .u-table-cell:first-child, .u-table-birthday .u-table-cell:first-child{padding-left:0}
.u-table-fullname .input-nickname{width:100px}
.u-table-fullname .input-prefix{min-width:70px}

.avatar{
	border-radius: 50%;
}

body.hasTopbar #page-container{
    top: 48px;
}
#page-container{position:relative}
#leftCol{
	position: absolute; top: 0px; left: 0px;display: none;
}
.hasLeft #leftCol{display: block;}
#mainContent{overflow-y: auto;position:relative;}
#mainContainer{display:block;width:100%;position:relative;opacity:0;-webkit-transition:opacity .33s;transition:opacity .33s}
#mainContainer.on{opacity:1}
#mainContainer [role="content"]{opacity:0;-webkit-transition:opacity.15s;-moz-transition:opacity.15s;transition:opacity.15s}
#mainContainer.on [role="content"]{opacity:1}


.ui-effect-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity:0;-webkit-transform:translateY(20%);-moz-transform:translateY(20%);-ms-transform:translateY(20%);transform:translateY(20%);-webkit-transition:opacity .15s,-webkit-transform .15s cubic-bezier(0.25,0.5,0.5,0.9);-moz-transition:opacity .15s,-webkit-transform .15s cubic-bezier(0.25,0.5,0.5,0.9);transition:opacity .15s,-webkit-transform .15s cubic-bezier(0.25,0.5,0.5,0.9);
    z-index: 0;
}
.ui-effect-top.active{
    opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);
    z-index: 1
}

/*
| ====================================== |
| ============== Loading =============== |
| ====================================== |
*/

#page-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;

    background-color: #DDDDDD;
    background-image: -webkit-radial-gradient(circle, #FFFFFF, #DDDDDD);
    background-image: -moz-radial-gradient(circle, #FFFFFF, #DDDDDD);
    background-image: -ms-radial-gradient(circle, #FFFFFF, #DDDDDD);
    background-image: -o-radial-gradient(circle, #FFFFFF, #DDDDDD);
    background-image: radial-gradient(circle, #FFFFFF, #DDDDDD);
}
#page-loading.closing {
	display: none;
    /*opacity: 0;
    -webkit-transition: opacity 0.2s linear;
       -moz-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
         -o-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;*/
}
body.off #page-loading.closing{opacity: 1;display: block;}
#page-loading span.main-color {
    font-size: 36px;
}
#page-loading div.text {
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#page-loading div.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 6px;
    border-width: 1px;
    border-style: solid;
    opacity: 0.1;
    border-radius: 100%;
    -webkit-animation: loader-dot 2s linear infinite;
       -moz-animation: loader-dot 2s linear infinite;
        -ms-animation: loader-dot 2s linear infinite;
         -o-animation: loader-dot 2s linear infinite;
            animation: loader-dot 2s linear infinite;
}
#page-loading div.dot1 {
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
        -ms-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
}
#page-loading div.dot2 {
    -webkit-animation-delay: 0.15s;
       -moz-animation-delay: 0.15s;
        -ms-animation-delay: 0.15s;
         -o-animation-delay: 0.15s;
            animation-delay: 0.15s;
}
#page-loading div.dot3 {
    -webkit-animation-delay: 0.3s;
       -moz-animation-delay: 0.3s;
        -ms-animation-delay: 0.3s;
         -o-animation-delay: 0.3s;
            animation-delay: 0.3s;
}
#page-loading div.dot4 {
    -webkit-animation-delay: 0.45s;
       -moz-animation-delay: 0.45s;
        -ms-animation-delay: 0.45s;
         -o-animation-delay: 0.45s;
            animation-delay: 0.45s;
}
#page-loading div.dot5 {
    -webkit-animation-delay: 0.6s;
       -moz-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
         -o-animation-delay: 0.6s;
            animation-delay: 0.6s;
}

/**/
/* ui-menu-item */
/**/

.ui-menu-items{
    margin: 0 -10px;
}
.ui-menu-items.ui-list-v .ui-menu-item{
    float: left;
    width: 170px;
}
.ui-menu-items.ui-list-v .ui-menu-item .inner{
    height: 150px;
    background-color: rgb(29, 135, 228);
    color: #fff;
    border-radius: 3px;
    
}


.ui-menu-items .ui-menu-item .inner{
    margin: 10px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
}
.ui-menu-item .inner {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    
    display: block;
}
.ui-menu-item .inner:hover{
    text-decoration: none;
}
.ui-menu-item .image {
    /* background-color: #eee; */
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 150px;
    position: relative;
}
.ui-menu-item .image::after {
    border: 1px solid rgba(0, 0, 0, .03);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.ui-menu-items.ui-list-v .ui-menu-item .text {
    position: absolute;
    bottom: 0px;
    white-space: normal;
    width: 100%;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.ui-menu-item .text .title-block {
    padding: 10px 12px;
}
.ui-menu-item .text .category {
    font-size: 12px;
    line-height: 30px;
}
.ui-menu-item .text .title {
    font-size: 20px;
    /* font-weight: bold; */
}

/**/
/* header */
/**/
/*#header-primary, .global-nav{height:48px}*/
.topbar{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:fixed;top:0;right:0;left:0;z-index:300;background-color:rgba(255,255,255,0.9);-webkit-transition:background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);transition:background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);-webkit-transition-property:background-color, -webkit-backdrop-filter;transition-property:background-color, -webkit-backdrop-filter;transition-property:background-color, backdrop-filter;transition-property:background-color, backdrop-filter, -webkit-backdrop-filter;-webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05);box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05)}
.topbar:before{content:'';position:absolute;bottom:0;left:0;right:0;height:1px;background-color:rgba(214,214,214,0.4)}
.global-nav{position:relative;width:100%}


/*.topbar{
    background-image: url(../images/lohp_streams_header_bg_v4.png);
    background-size: 100% 100%;
}
.topbar:before{
    border-color: rgba(0,0,0,0.15)
}
.topbar #pageNav>li>a{
    color: #000;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
}
.topbar #pageNav>li>a:hover{
    color: #111;
    text-shadow:0 1px 0 rgba(255,255,255,0.4);
}
.topbar #pageNav>li.active>a{
    color: #202020;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
}
.topbar .gbtn{
    background-color: rgba(0,0,0,0.15)
}
.topbar .headerClock-inner{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 2px 0 0 2px
}
.topbar #pageNav>li.active>a:before{
    background-color: #111;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1);
    height: 1px
}*/

/**/
/* m-menu */
/**/
.m-menu-toggle{display:block;position:fixed;z-index:500;top:0;left:0;width:48px;height:48px;cursor:pointer;-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);-webkit-tap-highlight-color:transparent}
.m-menuicon-bread{position:absolute;z-index:3;top:0;left:0;width:48px;height:48px;-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)}
.m-menuicon-bread-top{-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);z-index:4}
.m-menuicon-bread-bottom{-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
.m-menuicon-bread-crust{display:block;width:17px;height:1px;background-color:#fff;position:absolute;left:16px;z-index:1;-webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;transition:transform 0.2s;transition:transform 0.2s, -webkit-transform 0.2s}
.m-menuicon-bread-crust-top{top:23px;-webkit-transition:-webkit-transform 0.2s 0.2s;transition:-webkit-transform 0.2s 0.2s;transition:transform 0.2s 0.2s;transition:transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}
.m-menuicon-bread-crust-bottom{bottom:23px;-webkit-transform:translateY(3px);-ms-transform:translateY(3px);transform:translateY(3px)}
body.is-pushed-left .m-menuicon-bread-top{-webkit-transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
body.is-pushed-left .m-menuicon-bread-bottom{-webkit-transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
body.is-pushed-left .m-menuicon-bread-crust-top{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition-delay:0;transition-delay:0}
body.is-pushed-left .m-menuicon-bread-crust-bottom{-webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;transition:transform 0.2s;transition:transform 0.2s, -webkit-transform 0.2s;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.m-menuicon-bread-crust{background-color:#333}
.m-menu-toggle.icon{line-height:48px;text-align:center}
.m-menu-toggle:hover{text-decoration:none}

/**/
/* .navigation-main */
/**/
.btn.navigation-trigger{height:50px;line-height:50px;width:50px;font-size:18px;text-align:center;cursor:pointer;background-color:transparent}
a.navigation-trigger:hover{text-decoration:none}
.navigation-main{position:fixed;top:0;left:0;height:100%;max-width:260px;width:260px;overflow:hidden;background-color:#fff;box-shadow:1px 1px 6px rgba(0,0,0,0.3);z-index:350}
.navigation-main-logo{position:absolute;top:0;left:0;width:260px;background-color:rgba(255,255,255,.1);right:0;height:50px;z-index:1;line-height:50px;padding-left:12px;opacity:0}
.is-pushed-left .navigation-main-logo{opacity:1;-webkit-transition:opacity .8s;transition:opacity .8s}
.navigation-main-logo>a{color:#fff}
.navigation-main-logo>a:hover{text-decoration:none}
.navigation-main-logo i{width:30px;height:30px;background-color:#7d63e0;border-radius:50%;text-align:center;line-height:30px;float:left;margin-top:10px}
.navigation-main-logo span{font-family:Roboto-LightWeb, "Segoe UI Light", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;font-weight:400px;font-size:28px;text-shadow:#000 1px 2px;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap;display:block;overflow:hidden}
.navigation-main-bg{position:fixed;left:0;right:0;z-index:0;bottom:0;top:0;opacity:0;-webkit-transition:opacity .5s cubic-bezier(.33, 0, .2, 1);pointer-events:none;display:none}
.navigation-main-content{position:absolute;top:50px;bottom:48px;left:0;right:0;overflow-y:auto}
.navigation-main-footer, .navigation-main-content{min-width:260px}
.navigation-main-footer{position:absolute;bottom:0;left:0;right:0}
.navigation-list{padding:4px 0}
.navigation-list>li{position:relative;display:block;width:100%}
.navigation-list>li>a{color:#333;font-weight:500;height:40px;line-height:40px;cursor:pointer;display:block;text-decoration:none}
.navigation-list>li>a:hover{background-color:#f2f2f2}
.navigation-list>li>a>i{width:50px;text-align:center;height:40px;float:left;line-height:40px}
.navigation-list>li.enabled>a{color:#ccc;cursor:default}
.navigation-list>li.active>a{cursor:default;opacity:1;color:#c12317}
.navigation-btn-add{padding:6px 6px 0;-webkit-transition:padding .23s;transition:padding .23s}
.navigation-btn-add .btn-text{display:none}
.is-pushed-left .navigation-btn-add{padding:12px 20px 0}
.is-pushed-left .navigation-btn-add .btn-text{display:inline-block}
.is-pushed-left .navigation-btn-add .btn{display:block}
/*.navigation-list + .navigation-list,*/.navigation-main-footer, .navigation-btn-add{border-top:1px solid rgba(0,0,0,.1)}
.is-pushed-left .navigation-main{width:260px}
.is-pushed-left .navigation-main-bg{opacity:1;z-index:320;pointer-events:visible}
.navigation-header{border-top:1px solid #09090a;box-shadow:inset 0 1px 0 rgba(42,42,45,.5);color:#ccc;font-size:11px;font-weight:bold;height:0px;overflow:hidden}
.is-pushed-left .navigation-header{height:auto;padding:12px 12px 0}
.navigation-main .welcome-box{padding:5px 13px;color:#fff}
.navigation-main .welcome-box .avatar{width:25px;height:25px;border-radius:50%}
.navigation-main .welcome-box .avatar img{border-radius:50%}
.navigation-main .welcome-box .content{display:none}
.navigation-main .welcome-box .subname{color:#7d7d7d;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;width:160px}
.navigation-main .welcome-box a:hover{color:#fff;text-decoration:none}
.is-pushed-left .navigation-main .welcome-box{padding:10px 20px}
.is-pushed-left .navigation-main .welcome-box .avatar{margin-right:8px;width:50px;height:50px}
.is-pushed-left .navigation-main .welcome-box .content{display:block}
.navigation-main-footer .navigation-list{padding:0}
.is-pushed-left .navigation-main .welcome-box{background-color:#eee;color:#000}
.navigation-list>li>a{border-width:1px 0;border-style:solid;border-color:transparent}
.navigation-main{background-color:#e1e4e8;background-image:-webkit-gradient(linear, left bottom, right top, color-stop(0%, #e1e4e8), color-stop(100%, #fbfcfd));background-image:-webkit-linear-gradient(45deg, #e1e4e8 0, #fbfcfd 100%);background-image:-moz-linear-gradient(45deg, #e1e4e8 0, #fbfcfd 100%);background-image:-ms-linear-gradient(45deg, #e1e4e8 0, #fbfcfd 100%);background-image:-o-linear-gradient(45deg, #e1e4e8 0, #fbfcfd 100%);background-image:linear-gradient(45deg, #e1e4e8 0, #fbfcfd 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e4e8', endColorstr='#fbfcfd', GradientType=1);transition:-webkit-transform .4s cubic-bezier(.82, 0, .12, 1);transition:transform .4s cubic-bezier(.82, 0, .12, 1);transition:transform .4s cubic-bezier(.82, 0, .12, 1),  -webkit-transform .4s cubic-bezier(.82, 0, .12, 1);-webkit-transform:translate3d(-280px, 0, 0);transform:translate3d(-280px, 0, 0)}
.navigation-main-bg{display:block;background-color:rgba(0,0,0,.3);z-index:320}
.is-pushed-left .navigation-main{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
.is-pushed-left .navigation-main-bg{opacity:1;pointer-events:inherit}

/**/
/* topbar */
/**/
/*.topbar-logo {}*/
.topbar-title{margin-left:58px}
.topbar-title h2{line-height:48px}
.topbar-title>ul{padding-top:8px}
.topbar-title>ul>li{display:inline-block;margin-right:10px;vertical-align:middle;position:relative;padding-right:10px}
.topbar-title>ul>li:before{position:absolute;right:0;height:30px;width:1px;background-color:#eee;top:50%;margin-top:-15px;content:''}
.topbar-title>ul>li.no-right{padding-right:0;margin-right:3px}
.topbar-title>ul>li.no-right:before, .topbar-title>ul>li:last-child:before{display:none}
.topbar-title>ul>li:last-child{margin-right:0}
.topbar-title>ul>li .label{display:block;opacity:.6;font-size:10px;font-weight:bold}
.topbar-title>ul>li .text{margin-top: 5px;display: block;font-size: 120%;font-weight: bold;    text-overflow: ellipsis;    overflow: hidden;white-space: nowrap;}
.topbar-title>ul>li .label + .text{font-size:100%;margin-top:0}
.topbar-right-actions{position:absolute;right:1px;top:1px;background-color:rgba(255,255,255,.95);height:46px;padding-left:10px;padding-right:10px}
.topbar-right-actions>li{float:left;display:inline-block}

.page-error-wrap{position:fixed;top:0;right:0;bottom:0;left:0}
.page-error-content{text-align:center;font-weight:500;vertical-align:middle;left:0;position:absolute;right:0;top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);color:#888}

body{background-color: #f5f8fa}
.uiToggle .uiMenu, .uiContextualLayerPositioner .uiMenu{
	border-color: #1d87e4
}
.menuItem .itemAnchor{
	border:none;
	padding-top: 4px;
	padding-bottom: 4px;
}
.menuItem a:hover{
	background-color: #1d87e4
}

#accountSettingsFlyout{width: 240px}
#accountSettingsFlyout .menuItem .fullname{
	max-width: 140px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
#accountSettingsFlyout .menuItem.head a:hover{
	background-color: transparent;
	color: #111
}
.topbar:before{
	background-color: #e6ecf0;
	background-color: rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.m-menuicon-bread-crust{
	-moz-transition: background .3s;
    -webkit-transition: background .3s;
    -o-transition: background .2s;
    transition: background .3s;
}
.topbar .nav{
	height: 48px;
}
.topbar .nav>li{
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}
.topbar .nav>li + li{
	margin-left: 10px;
}
.topbar .nav>li.divider{
	width: 1px;
	background-color: #ccc;
	height: 20px;
    margin-top: 14px;
}
.topbar .nav>li.lbtn{
	margin-top: 6px;
}
.topbar .nav>li>a{
	display: block;
}
.headerAvatarWrap>a{
	height: 32px;
}
.headerClock{
    border-right: 1px solid #ccc;
    text-align: right;
    
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 6px !important;
}
.headerClock-inner{
	background-color: #f2f2f2;
	padding-right: 8px;
    padding-left: 6px;
    font-size: 12px;
}

/* pageNav. */
#pageNav>li{
	display: inline-block;
}
#pageNav>li>a {
    padding: 15px 12px;
    display: block;
    opacity: .8
}
#pageNav>li>a:hover{
	text-decoration: none;
	opacity: 1;
	color:#1d87e4;
}
#pageNav>li.active>a{
	opacity: 1;
	color:#1d87e4;
	position: relative;
}
#pageNav>li.active>a:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #1d87e4;
}
#pageNav>li>a>i + strong {
    margin-left: 4px;
}
#pageNav>li .countVal{
    display: none;
}
#pageNav>li.hasCount .countVal{
    display: inline-block;
}

.headerAvatar:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
}


.topbar-logo {
    /*color: #1da1f2;*/
    margin-top: -14px;
    display: inline-block;
    transition: all .25s ease-in-out;
    height: 87px;
    width: 87px;
    position: absolute;
    left: 50%;
    margin-left: -43px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
}
/*.topbar-logo img{
	height: 100%;
    width: 100%;
}*/
.m-menu-toggle{display:none;}
body.has_menu .m-menu-toggle{display:block}
#pageNav{margin-left: 50px;}
/**/
/* pos */
#pos{
	/*max-width: 1280px;*/
	margin-left: auto;
	margin-right: auto; 
	position: relative;
}


/**/
/* slipPaper */
/**/
.slipPaper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 550px;
}
.slipPaper-main {
    position: absolute;
    left: 30px;
    right: 10px;
    bottom: 30px;
    top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #fcfbfd;
}
.slipPaper-container.has-bottom .slipPaper-main{
    bottom: 130px;
}
.slipPaper-main:before, .slipPaper-main:after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 20px;
    width: 50%;
    height: 20%;
    border-radius: 10px/90px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.slipPaper-main:after {
    right: 20px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.slipPaper-bodyHeader {
    /*height: 70px;*/
    margin: 15px 20px 5px;
    position: relative;
}

.slipPaper-bodyContent {
    position: absolute;
    top: 85px;
    bottom: 160px;
    left: 12px;
    right: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 30px 5px 5px;
}
.slipPaper-bodyContent table {
    width: 100%;
}
.slipPaper-bodyContent table th, .slipPaper-bodyContent table td {
    padding: 4px 6px;
    border-bottom: 1px dotted #eee;
}
.slipPaper-bodyContent table th{
    border-bottom-style: solid;
}
.slipPaper-bodyContent table td{
    padding-top: 8px;
    padding-bottom: 8px
}
.slipPaper-bodyContent table tr:last-child td{
    border-bottom: none;
}
.slipPaper-bodyContent table .no {
    width: 20px;
    text-align: center;
    vertical-align: top;
    padding-right: 0
}
.slipPaper-bodyContent table .name {
    text-align: left;
}
.slipPaper-bodyContent table .qty {
    text-align: center;
    width: 50px;
}
.slipPaper-bodyContent table .price, .slipPaper-bodyContent table .total {
    text-align: right;
    width: 80px;
}
.slipPaper-bodyContent table .time,.slipPaper-bodyContent table .unittime{
    width: 30px;
}
.slipPaper-bodyContent table .ui-status{
    font-size: 80%;
    border-radius: 3px;

    background-color: #168add;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
}

.slipPaper-bodyContent table .ui-status.red{
    background-color: #d14836;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
    background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
    background-image: -o-linear-gradient(top, #dd4b39, #d14836);
    background-image: linear-gradient(top, #dd4b39, #d14836);
}
.slipPaper-bodyContent table .price .discount{
    display: none;
}
.slipPaper-bodyContent table .price.has-discount .discount{
    display: block;
}
.slipPaper-bodyContent table .price.has-discount.full{

}

.slipPaper-bodyContent-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;z-index: 1
}
.slipPaper-bodyContent-body{
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 2px;
    overflow-y: auto;
}

.slipPaper-bodyFooter {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
}
.slipPaper-bodyFooter-summary {
    width: 100%;
    color: #777;
    
}

.slipPaper-bodyFooter-summary .colleft {
    width: 40%;
    vertical-align: top;
}
.slipPaper-bodyFooter-summary .colright {
    padding-left: 20px;
    vertical-align: top;
}
.slipPaper-bodyFooter-summary table {
    width: 100%;
}
.slipPaper-bodyFooter-summary .data {
    text-align: right;
}
.slipPaper-bodyFooter-summary .data span {
    line-height: 30px;
}
.slipPaper-bodyFooter-summary .TOTAL {
    font-size: 22px;
    color: #000;
    font-weight: bold;
}
.slipPaper-bodyFooter-summary .Balance {
    font-size: 18px;
    color: #aa3d54;
    font-weight: bold;
}


.slipPaper-footer {
    /*height: 90px;*/
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0px;
}
.slipPaper-footer nav {
    margin-top: 10px;
    margin-right: 158px;
    overflow: hidden;
    height: 100px;
    margin-left: 20px;
}
.slipPaper-footer nav>ul>li {
    float: left;
    width: 60px;
    height: 100px;
}
.slipPaper-footer nav>ul>li+li {
    margin-left: 30px;
}
.slipPaper-footer .button {
    text-align: center;
}
.slipPaper-footer .button .t {
    margin-top: 3px;
    display: block;
    font-size: 12px;
}
.slipPaper-footer .pay {
    position: absolute;
    right: 0;
    top: 10px;
}


/**/
/* payment-wrapper */
/**/
#payment{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
.payment-wrapper{
	max-width: 652px;
	position: relative;
}
.payment-btn-hide{
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 30px;
	color: #888;
	font-size: 12px;
	font-weight: bold;
}
.payment-left, .payment-footer-left{
	margin-right: 100px;
	overflow: hidden;
}
.payment-footer-left{
	margin-bottom: 20px;
	
}
.payment-right{
    text-align: center;
    width: 100px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 70px;
    bottom: 150px;
}
.payment-right .des-text{
	font-size: 14px;
	line-height: 1;
	white-space: nowrap;
}
.payment-content{
	padding:30px 30px 30px 40px;
}
.payment-right ul>li{
	margin-bottom: 15px;
}
.payment-pay-number{
	width: 480px;
}
.payment-pay-number ul{
	/*min-width: -5px;
	padding: 5px;*/
}
.payment-pay-number li{
	float: left;
	width: 110px;
	height: 110px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	background-color: #ecebec;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
	/*background-color: #ecebec*/
}
.payment-pay-number li>a{
	display: block;
	/*margin: 5px;*/
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	text-decoration: none;
	font-size: 40px;
	border-radius: 5px;
	position: relative;
	padding: 0;
}
.payment-pay-number li>a:before{
	border-radius: 5px;
}
.payment-pay-number li>a.btn-blue, .payment-pay-number li>a.fsmall{
	font-size: 28px;
}
.payment-number-summary{
	width: 100%;
}
.payment-number-summary td{
	vertical-align: top;
}
.payment-number-summary .label{
	color: #000;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 14px;
}
.payment-number-summary .change{
	padding-left: 15px;
	width: 30%;
	text-align: right;
}
.payment-number-summary .input{
	height: 40px;
	background-color: #fff;
	line-height: 40px;
	font-size: 20px;
	padding: 0 15px;
	font-weight: bold;
	border-radius: 5px;
	color: #3b5998;
	border:1px solid #ccc;
}
.payment-number-summary .change .input{
	color: #ee0000;
}
.payment-number-summary .label.Tip{
	margin-top: 3px;
	margin-bottom: 0;
}
.payment-number-summary .input .Payment{
	color: #000;
}
.payment-footer-left>ul{
	margin-left: 40px;
	margin-right: 30px;
}
.payment-footer-left>ul>li{
	width: 33.333%;
	display: inline-block;
	vertical-align: middle;
}
.payment-footer-left>ul>li .gbtn{
	display: block;
	margin: 5px;
}
.payment-footer-left>ul>li .btn{
	display: block;
}
.payment-footer-right{
	margin-top: -50px
}


.web-menu-container.active [menu=menu], .web-menu-container.active [menu=item], .web-menu-container.active [menu=payment] {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.web-menu-container.has-menu [menu=menu], .web-menu-container.has-item [menu=item], .web-menu-container.has-payment [menu=payment] {
    display: block;
}

.web-menu-wrapper [menu=menu] .header {
    padding: 30px 25px 2px;
}
.web-menu-wrapper [menu=menu] .header h2 {
    margin-bottom: 3px;
}

.web-menu-wrapper [menu=menu] .listbox-content {
    padding: 10px 25px 25px;
    min-width: 600px;
}
.web-menu-wrapper [menu=menu] .listbox-content.show [menu=listbox] {
    -webkit-transition: opacity .15s,-webkit-transform .15s cubic-bezier(0.25,0.5,0.5,0.9);
    -moz-transition: opacity .15s,-webkit-transform .15s cubic-bezier(0.25,0.5,0.5,0.9);
    transition: opacity .15s,-webkit-transform .15s cubic-bezier(0.25,0.5,0.5,0.9);
}
.web-menu-content [menu=listbox] {
    margin: -10px;
    position: relative;
}
.web-menu-content [menu=listbox]>li {
    float: left;
    width: 170px;
}
.web-menu-content [menu=listbox]>li>a {
    display: block;
    margin: 10px;
    height: 150px;
    text-decoration: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
}
.web-menu-content [menu=item] .header {
    margin-bottom: 20px;
    padding: 20px 20px 0;
}
.web-menu-content [menu=item] .profile-menu {
    margin: 20px 10px;
}

.web-menu-wrapper [menu=item] .image-corver {
    width: 180px;
    margin-left: 20px;
}

.profile-menu>div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px
}
.profile-menu>div:first-child{
    margin-top: 20px
}
.profile-menu>div.has-edit:hover{
    background-color: #f2f2f2
}
/*.profile-menu>div.has-edit .btn-edit{
    display: none;
}
.profile-menu>div.has-edit:hover .btn-edit{
    display: inline-block;
}*/
.profile-menu .label{
    display: block;
    margin-bottom: 3px;
    color: #999;
    font-size: 80%;
    font-weight: bold;
}
.profile-menu .data{
    font-size: 150%;
    font-weight: bold;
}
.profile-menu .inputnote{
    background-color: #fff;
    width: 100%;
}
.profile-menu-action>span{
    width: 33.33%;
    margin: 5px 
}
.profile-menu-action>span>.btn{
    width: 100%;
}


.profile-menu .qty-change {
    /*border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;*/
    padding: 6px;
    /*background-color: #fff;*/
    width: 300px;
}
.profile-menu .qty-change table {
    width: 100%;
}
.profile-menu .qty-change .b {
    width: 30px;
}
.profile-menu .qty-change .input-number {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.web-menu-container .separatot{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	left: 0;
	background-color: #207bb9;
	z-index: 5
}
.web-menu-content [menu=payment] .link-back {
    background-color: #207bb9;
    height: 40px;
    position: absolute;
    margin-top: -20%;
    top: 50%;
    left: 0;
    color: #fff;
    text-align: center;
    width: 30px;
    line-height: 40px;
    text-decoration: none;
}

.profile-menu-table th, .profile-menu-table td{
    border: 1px solid #ccc;
    text-align: left;
    padding: 3px 6px
}
.profile-menu-table thead{
    background-color: #ddd;
}
.profile-menu-table tbody{
    background-color: #fff;
}
.profile-menu-table tfoot th{
    border-color: transparent;
    text-align: right;
}
.profile-menu-table .price{
    text-align: right;
    width: 20px
}
.profile-menu-table .actions{
    width: 30px;
    white-space: nowrap;
    text-align: center;
}

.loginPin{
    position: absolute;
    left: 50%;
    width: 364px;
    margin-left: -187px;
    
    top: 50%;
    height: 534px;
    margin-top: -267px;
}
.loginPinDot{
    position: relative;
    text-align: center;
    margin-bottom: 10px
}
.loginPinDot .dot{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: relative;
    margin:0 8px;
    display: inline-block;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background-color: #ecebec;


}
.loginPinDot .dot:after{
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    margin-top: -13px;
    margin-left: -13px;
    top: 50%;
    left: 50%;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);

    -webkit-transition: all .4s;
    transition: all .4s;
}
.loginPinDot .dot.active:after{

    height: 30px;
    width: 30px;
    margin-top: -15px;
    margin-left: -15px;

    background-color: #4787ed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

.loginPin .payment-pay-number{
    width: 363px;
}

/**/
/* section */
/**/
.section{

}
#leftCol .section{
	/*margin-left: 50px;
	padding-top: 30px;
	margin-right: 30px*/
}
.section-package-header{
	/*height: 70px;*/
	padding-top: 10px;
	padding-left: 50px;
    padding-right: 50px;
}
.hasLeft .section-package-header, .hasLeft .section-package-content{
    padding-right: 0
}

.section-package-header label{
	font-size: 10px;
	font-weight: bold;
	color: #666
}
.section-package-header .textbox{
	line-height: 30px;
}
.section-package-header .inputtext{
	width: 100%;background-color: #fff
}
.section-package-header .theDate .btn-box{
    background: transparent;
    border:none;
    box-shadow: none;
    padding: 0
}
.section-package-header .theDate .btn-box:before{
    display: none;

}
.section-package-content{
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	padding-left: 0;
	padding-right: 50px;
	padding-bottom: 30px;
}
[role=left] .section-package-content{
    padding-left: 50px;
}
.section-package-actions>li{
    float: left;
}
.section-package-actions label, .section-package-actions select{
    display: inline-block;
    font-size: 13px
}
.section-package-actions>li + li{
    padding-left: 10px
}


/**/
/* ui status */
/**/
.ui-status{display:inline-block;padding:3px 6px;color:#fff;line-height:1;background-color:#aaa}
a.ui-status{text-decoration:none}
.ui-status-icon{display:inline-block;height:12px;width:12px}


/**/
/* list */
/**/
.ui-list-item{position: relative;padding-top: 8px;padding-bottom: 8px;margin-left: 8px;margin-right: 8px}
.ui-list-item + .ui-list-item{border-top: 1px solid #ddd}
.ui-list-item:first-child{border-top: none;}
.ui-list-item:last-child{border-bottom:none}
.ui-list-item>a{text-decoration:none;display:block;}
.ui-list-item .mediaWrapper{width: 120px;height: 67px;padding: 0;background-color: #000}
.ui-list-item .ui-star{font-size:14px}
.ui-list-item .table-meta{font-size:90%}
.ui-list-item .table-meta td{padding:1px 2px}
.ui-list-item .table-meta .label{width:80px}

.ui-list-checked{
	position: relative;
	background-color: #fff
}
.ui-list-checked .btn-checked{
	position: absolute;
	right: 5px;
	top: 5px;
}
.ui-list-checked .btn-checked:hover{
	cursor: pointer;
}
.ui-list-checked .ui-list-item{
	background-color: #fff;
}
.ui-list-checked .ui-list-item.checked .btn-checked{
	background-color: #15c;
	border-color: #15c;
	color: #fff
}
.ui-list-checked .title{
	margin-right: 38px;
}

.ui-list-orders h3{
	display: inline-block;
	font-size: 13px
}
.ui-list-orders .ui-item-inner{
	padding:6px 10px;
	border-top: 1px solid #ccc;
	font-size: 13px;
    margin-top: -1px;
    display: block;
}
.ui-list-orders .ui-item:first-child .ui-item-inner{
    border-top: none;
}
.ui-list-orders .ui-item.head{
	background-color: #ccc;
	padding: 2px 10px;
	font-size: 12px;
	font-weight: bold;
}
.ui-list-orders .subtext{
	margin-top: 2px
}
.ui-list-orders i{margin-right: 2px}
.ui-list-orders label{font-weight:bold;}
.ui-list-orders span + span{margin-left: 4px}
.ui-list-orders .ui-status{border-radius: 3px}

.ui-list-orders .ui-item.active{
	background-color: #ddd;
}
.ui-list-orders .ui-item .content{
    padding: 0
}
/*.ui-list-orders .ui-item.active>*{
	color: #fff
}*/

.queue-wrap{
    
}
.ui-list-queue{
    display: inline-block;
}
.ui-list-queue > li{
    display: inline-block;
    text-align: center;
}
.ui-list-queue .inner{
    padding: 10px;
}
.ui-list-queue .box{
    
    
    position: relative;
    margin-top: 15px;
    
}
.ui-list-queue .box-inner{
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 3px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5)
}
.ui-list-queue .box:before{
  
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    /*pointer-events: none;*/
    display: inline-block;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
    /*left: 10px;*/
    /*margin-top: -11px;*/
    border-color: #000 transparent;
    border-style: solid;
    border-width: 0 30px 30px 30px ;
}
.ui-list-queue .box:after{
    content: "";
    height: 0;
    width: 0;
    position: absolute;

    display: inline-block;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
    margin-bottom: -5px;
    border-color: #f5f8fa transparent;
    border-style: solid;
    border-width: 0 30px 30px 30px ;
}
.ui-list-queue .number{
    display: inline-block;
    background-color: #c30;
    color: #fff;
    border-radius: 4px;
    padding: 2px 3px;
    line-height: 24px;
    font-weight: bold;
    /*height: 25px;*/
    min-width: 25px;
    border:1px solid #000;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0,0,0,.3);

    background-color: #d14836;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
    background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
    background-image: -o-linear-gradient(top, #dd4b39, #d14836);
    background-image: linear-gradient(top, #dd4b39, #d14836);
}
.ui-list-queue .avatar{
    border-radius: 0;
    width: 100%;
    min-width: 96px;
    height: 96px;
}
.ui-list-queue .avatar {

}
.ui-list-queue .avatar .initials{
    font-size: 150%;
    font-weight: bold;
}
.ui-list-queue .name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 106px
}
.ui-list-queue .box-content{
    padding-top: 3px;
    padding-bottom:3px
}

.ui-list-meta label{opacity:.9;font-weight:normal;}


/**/
/* ui item */
/**/
.ui-item .control{position:absolute;top:10px;right:6px;display:none;z-index:10}
.ui-item .control a{display:inline-block;width:22px;height:22px;text-align:center;line-height:22px;font-size:12px;background-color:rgba(0,0,0,.3);border-radius:50%;text-decoration:none;margin:2px;color:#fff;opacity:.6}
.ui-item .control a:hover{opacity:1}
.ui-item .ui-actions{position: absolute;top: 10px; right: 10px;z-index: 2;display:none}
.ui-item .ui-actions>.action{display:inline-block;width: 20px;height: 20px;color: #000;font-size: 13px}
.ui-item .ui-actions>.action:hover{background-color: #f0f0f0;opacity: .9;}
.ui-item:hover .ui-actions{display:block}
.ui-item:hover .control{display:block}
.ui-item{position:relative}
.ui-item .inner{position:relative;background-color:#fefefe;display:block;color:#333;border:1px solid #ccc}
.ui-item .inner:hover{text-decoration:none}
.ui-item .inner:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0}
.ui-item .featured{position:relative;height:0;width:100%;overflow:hidden;background-color:#222;padding-top:56.25%;display:block}
.ui-item .featured:before{position:absolute;left:0;content:'';top:0;border:1px solid rgba(255,255,255,.1);right:0;bottom:0;z-index:1}
.ui-item.noImage .featured{background-color:#ccc}
.ui-item .featured img{position:absolute;display:block;left:0;right:0;top:0;bottom:0;width:100%;height:auto;margin:auto;-o-transform:scale(1, 1);-ms-transform:scale(1, 1);-moz-transform:scale(1, 1);-webkit-transform:scale(1, 1);-o-transition:-o-transform 0.3s;-ms-transition:-ms-transform 0.3s;-moz-transition:-moz-transform 0.3s;-webkit-transition:-webkit-transform 0.3s}
.ui-item:hover .featured img{-o-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);opacity:.85}
.count-2 .ui-item, .count-3 .ui-item, .count-4 .ui-item{display:inline-block;vertical-align:top}
.count-2 .ui-item .inner, .count-3 .ui-item .inner, .count-4 .ui-item .inner{margin:5px}
.count-2 .ui-item{width:50%}
.count-3 .ui-item{width:33.33%}
.count-4 .ui-item{width:25%}
.ui-item .content, .ui-item .head{position:relative;padding:6px 12px;overflow:hidden;z-index:1}
.ui-item h3{font-size:16px;font-weight:bold;display:inline-block;}
.ui-item .head h3{font-size:14px}
.ui-item h3 + .desc{margin-top:6px}
.ui-item .desc{font-size:14px;opacity:.95}
.ui-item .desc>span{display:block;margin-top:3px}
.ui-item .desc>span:last-child{margin-right:0}
.ui-item .country{position:absolute;height:24px;top:-20px;left:12px;z-index:5}
.ui-item .country img{background:#fff;border:1px solid #fff;-webkit-border-radius:50%;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;height:24px;line-height:24px;position:relative;width:24px}
.ui-item>.ui-action{position: absolute;width: 20px;height: 20px}
.ui-item>.ui-action.top{top: 50%;margin-top: -10px}
.ui-item>.ui-action.right{right: 5px}

.order-title span + span {
    margin-left: 4px;
}
.order-title i {
    margin-right: 2px;
}
.order-title label {
    font-weight: bold;
}

.icon-thailand-baht {
    background-image: url('../images/icons/thailand-bahtx32.png');
    width: 70px;
    height: 70px;
    display: inline-block !important;
    background-repeat: no-repeat;
    background-position: center;
}

.memu-tab{
     margin-bottom: 10px;
}
.memu-tab a {
    position: relative;
    display: block;
    float: left;
    height: 32px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;

}
.memu-tab a:hover {
    text-decoration: none;
    color: #1d1d1d;
}
.memu-tab .active {
    z-index: 1;
    border-radius: 4px;
    background: #c60e0e;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
    color: #fff;
    cursor: default;
}
.memu-tab .active:hover {
    color: #fff;
}
.memu-tab .active:first-child {
    margin-left: 0;
}
.memu-tab .active:after {
    content: ' ';
    position: absolute;
    top: 32px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-top: 4px solid #c60e0e;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*.memu-table tr{position:relative;display: block;}*/
/*.memu-table tr:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d87e4;
    border-radius: 3px
}*/
.memu-table td{padding: 8px 4px;border-bottom: 1px solid #ccc}
.memu-table .td_box{width: 1px;padding: 0}
.memu-table .box{min-height:50px;}
.memu-table .price{text-align: right;}
.memu-table .time{width: 30px;}
.memu-table .name .title{display: inline-block;}
/*.memu-table .td-checked{padding-right: 0;width: 30px}*/
.memu-table .checked {
    position: relative;
    display: inline-block;
    
    color: #fff;
    background-color: rgba(3,180,125,.95);
    /*border: 2px solid transparent;*/
    text-align: center;
    margin-right: 4px;
    white-space: nowrap;
    display: none;
    padding: 4px 10px 4px 6px;
}
.memu-table .checked .inner{
   
}
.memu-table .active .checked{
    display: inline-block;
}

/**/
/* timeline */
/**/
.timeline{
    position: relative;
    margin-left: 5px
}
.timeline:before{
    content: '';
    position: absolute;
    width: 2px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
}
.timeline .item{
    position: relative;
}
.timeline .item + .item{
    margin-top: 20px
}
.timeline .item .date{
    border-bottom: 1px dotted #111;
    display: inline-block;
    padding: 2px 10px;
    position: relative;
}
.timeline .item .date:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #111;
    border-radius: 50%;
    left: -4px;
    bottom: -5px;
    display: inline-block;
    background-color: #f5f8fa;
}
.timeline .item .inner{
    position: relative;
    padding: 10px;
    padding-bottom: 0;
    margin-left: 12px
}
.timeline .item .inner>li + li{
    margin-top: 10px
}
.timeline .item .inner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px dotted #111;
}
.timeline .item .time{
    background-color: #ddd;
    display: inline-block;
    border-radius: 2px;
    padding: 3px 5px;
    position: relative;
}
.timeline .item .time:before {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top: -4px;
    border-right: 4px solid #ddd;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.timeline .item .disc{
    padding: 5px;
}

/**/
/* avatar-date */
/**/
.avatar-date {
    border: 2px solid #fff;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 9px;
    padding-top: 7px;
    left: 12px;
    bottom: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    width: 46px;
    line-height: 1;
}
.avatar-date .label {
    font-size: 12px;
    font-weight: 500
}
.noCoverImage .avatar-date {
    background-color: #fff;
    color: #333;
    border: 1px solid rgba(0,0,0,.3);
    text-shadow: none;
}

/**/
/* duration */
/**/
.duration-wrap{
    max-width: 500px;position: relative;
}
.duration-wrap-header{
    color: #5e5e5e;
    font-size: 11px;
    padding: 8px 12px 1px;
    font-weight: bold;
}
.duration-wrap .ui-list-duration{
    padding-left: 12px;
    padding-right: 12px;
}
.ui-list-duration .content{
    padding: 0
}
.ui-list-duration>li{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ui-list-duration>li + li{
    margin-top: 1px
}
.ui-list-duration>li>.anchor{
    padding: 0;
}
.ui-list-duration .ui-item-meta{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 80%
}
.ui-item-meta em{
    font-style: normal;
}
.ui-list-duration>li .status-wrap{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    margin-top: -12px;
}
.ui-list-duration .ui-status{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border:1px solid rgba(0,0,0,.05);
}
.ui-list-duration .ui-status:hover{
    text-decoration: none;
    border-color: rgba(0,0,0,.3);
}
.ui-list-duration>li .ui-status>i{
    margin-right: 2px
}
.ui-list-duration>li .u-top-right>li{
    display: inline-block;
}
.ui-list-duration .table-meta{
    font-size: 12px;
}
.ui-list-duration .table-meta td{
    padding: 2px 0;
}
.ui-list-duration .table-meta .icon{
    width: 18px;
}
.ui-list-duration .avatar-date{
    border-color: #333;
    color: #333;
}
.ui-list-orders.ui-list-duration>li{
    padding-top: 0;
    padding-bottom: 0;
}
.ui-list-orders.ui-list-duration>li + li{
    margin-top: 0
}

.ui-item-status-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    margin-top: -12px;
}

/*
| ====================================== |
| ============= Animation ============== |
| ====================================== |
*/

@-webkit-keyframes loader-dot {
    0% {opacity: 0.1;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0.1;}
}
@-moz-keyframes loader-dot {
    0% {opacity: 0.1;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0.1;}
}
@-ms-keyframes loader-dot {
    0% {opacity: 0.1;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0.1;}
}
@-o-keyframes loader-dot {
    0% {opacity: 0.1;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0.1;}
}
@keyframes loader-dot {
    0% {opacity: 0.1;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0.1;}
}

@-webkit-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-ms-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

body, input, textarea, select, button{font-size: 20px}
.fsm{font-size: 18px}
@media (max-width:1600px) {
    body, input, textarea, select, button{font-size: 18px}
    .fsm{font-size: 16px}
    body.hasTopbar #page-container{
        top: 53px;
    }
}